<div id="content">
    <h1>Welcome to Eggnine</h1>

    <h3>Cookie Policy</h3>
    <p>
        This site uses cookies to manage your session and preferences.
        If you do not wish to store cookies from this site in your browser, please do not continue using the site.
    </p>

    <h3>Privacy Policy</h3>
    <p>
        This site stores limited user information, including:
    </p>
    <ul>
        <li>Your chosen display name</li>
        <li>Your passphrase (securely stored and not shared)</li>
        <li>OpenAI project data that you enter</li>
        <li>Usage-related actions and activity</li>
    </ul>
    <p>
        Except for your passphrase, some of this data may be visible to third parties.
        If you do not consent to this, please do not proceed further.
    </p>

    <h3>Continue to AssistantNest</h3>
    <p>
        If you accept the above terms and wish to interact with OpenAI assistants through this site, please
        <a href="/Home?@(Constants.QueryStringKeyAcceptedCookies)=true">click here</a>.
    </p>
</div>
